<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack-PCL" version="1.4.6" targetFramework="portable-win+net403+sl40+wp71" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net403+sl50+win+wp80" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+win+wpa81+wp80" />
</packages>